.header{
  background: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.header .logo svg{
  display: inline-block;
  height: 50px;
  margin-top: 5px;
  position: fixed;
}
.header .titleHeader{
  text-align: center;
}